################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankOfDotNet/v16/Server/sqlite3
/.vs/BankOfDotNet/v16
/.vs/BankOfDotNet
/BankOfDotNet.Api/bin/Debug/netcoreapp2.1
/BankOfDotNet.Api/obj/Debug/netcoreapp2.1
/BankOfDotNet.Api/obj
/BankOfDotNet.IdentityServer/bin/Debug/netcoreapp2.1
